<a href="https://colab.research.google.com/github/jasonkjw/daily_coding_commit/blob/main/012.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 012
시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER,type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
# 013
s = "hello"
t = "python"
print(s+"!"t)

hello! python

In [1]:
# 014
print(2+2*3)

8

In [2]:
# 015
a = 132
print(type(a))

<class 'int'>

In [4]:
# 016
num_str = "720"
print(int(num_str))

720
721 <class 'int'>

In [5]:
# 017
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [6]:
# 018
a = "15.79"
b = float(a)
print(b, type(b))

15.79 <class 'float'>

In [7]:
# 019
year ="2020"
latest_years = int(year)
print(latest_years-1, latest_years, latest_years+1)

2019 2020 2021

In [9]:
# 020
mon = int(48584)
total_price = mon * 36
print(f"{total_price:,}")

1,749,024