<a href="https://colab.research.google.com/github/jasonkjw/daily_coding_commit/blob/main/071_080.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 071
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [4]:
# 072
movie_rank=('닥터 스트레인지','스플릿','럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [10]:
# 073
num = (1,)
print(type(num))

<class 'tuple'>

In [ ]:
# 074
t = (1, 2, 3)
t[0] = 'a'
# tuple은 원소의 값을 변경할 수 없다.

In [11]:
# 075
t = 1, 2, 3, 4  # tuple은 원칙적으로 괄호로 감싸주어야 하지만 괄호 없이 쓰면 튜플로 인식됨.
print(type(t))

<class 'tuple'>

In [13]:
# 076
t = ('a', 'b', 'c')
print(t)
t = ('A', 'b', 'c')
print(t)

('a', 'b', 'c')
('A', 'b', 'c')

In [23]:
# 077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_list = list(interest)
print(interest_list)

['삼성전자', 'LG전자', 'SK Hynix']

In [27]:
# 078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest_tuple = tuple(interest)
print(interest_tuple)

('삼성전자', 'LG전자', 'SK Hynix')

In [30]:
# 079
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [43]:
# 080
print(tuple(range(2,100,2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)