<a href="https://colab.research.google.com/github/jasonkjw/daily_coding_commit/blob/main/101_130.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 101
bool

bool

In [ ]:
# 102
print(3 == 5)
# False

False

In [ ]:
# 103
print(3 < 5)
# True

True

In [ ]:
# 104
x = 4
print(1 < x < 5)
# True

True

In [ ]:
# 105
print ((3 == 3) and (4 != 3))
# True

True

In [ ]:
# 106
# print(3 => 4)
print(3 >= 4)

False

In [ ]:
# 107
if 4 < 3:
    print("Hello World")
# nothing

In [ ]:
# 108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
# Hi, there.

Hi, there.

In [ ]:
# 109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
# 110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [ ]:
# 111
print(input()*2)

안녕
안녕안녕

In [ ]:
# 112
user = int(input("숫자를 입력하세요:"))
print(user + 10)

숫자를 입력하세요:10
20

In [ ]:
# 113
user = int(input())
if user%2 == 0:
  print("짝수")
else : print("홀수")

10
짝수

In [ ]:
# 114
user = int(input("입력값:"))
output = user + 20
if output > 255:
  print("출력값 : 255")
else :
  print("출력값:",user)

입력값:240
출력값 : 255

In [ ]:
# 115
user = int(input("입력값: "))
num = user - 20
if num < 0:
  print("출력값 : 0")
elif num > 255:
  print("출력값 : 255")
else :
  print(f"출력값 : {num}")

입력값: 50
출력값 : 30

In [ ]:
# 116
h = int(input("현재시간(시):"))
m = int(input("현재시간(분):"))
if m == 0:
  print("정각입니다.")
else :
  print("정각이 아닙니다.")

현재시간(시):4
현재시간(분):0
정각입니다.

In [ ]:
# 117
fruit = ["사과", "포도", "홍시"]
user = str(input("좋아하는 과일은?"))
if user in fruit:
  print("정답입니다.")
else :
  print("오답입니다.")

좋아하는 과일은?홍시
정답입니다.

In [ ]:
# 118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = str(input("종목을 입력하세요:"))
if user in warn_investment_list :
  print("투자 경고 종목입니다.")
else :
  print("투자 경고 종목이 아닙니다.")

종목을 입력하세요:Microsoft
투자 경고 종목입니다.

In [ ]:
# 119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가 좋아하는 계절은:")
if user in fruit:
  print("정답입니다.")
else :
  print("오답입니다.")

제가 좋아하는 계절은:사과
오답입니다.

In [ ]:
# 120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
seasons = fruit.values()
user = input("제가 좋아하는 계절은:")
if user in seasons:
  print("정답입니다.")
else :
  print("오답입니다.")

제가 좋아하는 계절은:딸기
정답입니다.

In [ ]:
# 121
user = str(input())
if user.islower() == True:
  print(user.upper())
else :
  print(user.lower())

A
a

In [ ]:
# 122
user = int(input("score :"))
if 81 <= user <= 100:
  grade = "A"
elif 61 <= user <= 80:
  grade = "B"
elif 41 <= user <= 60:
  grade = "C"
elif 21 <= user <= 40:
  grade = "D"
elif 0 <= user <= 20:
  grade = "E"
print(f"grade is {grade}")

score :83
grade is A

In [ ]:
# 123
currency = {"달러": 1167, "엔":1.096, "유로":1268, "위안":171}
user = input("입력:")
num, data = user.split()
print(f"{(float(num) * currency[data]):.2f} 원")

입력:100 위안
17100.00 원

In [ ]:
# 124
nums = []
nums.append(int(input("input number1:")))
nums.append(int(input("input number2:")))
nums.append(int(input("input number3:")))
print(max(nums))

input number1:100
input number2:200
input number3:300
300

In [ ]:
# 125
tel = {'011':'SKT','016':'KT','019':'LGU','010':'알수없음'}
num = input("휴대전화 번호 입력:")
print(f"당신은 {tel[num.split('-')[0]]} 사용자입니다.")

휴대전화 번호 입력:011-555-555
당신은 SKT 사용자입니다.

In [ ]:
#126
post = {'0':"강북구",'1':"강북구",'2':"강북구",
        '3':"도봉구",'4':"도봉구",'5':"도봉구",
        '6':"노원구",'7':"노원구",'8':"노원구",'9':"노원구"}
user = input("우편번호:")
print(post[user[2]])

우편번호:01688
노원구

In [ ]:
# 127
num = input("주민등록번호:")
data = num.split('-')
birth, id = data[0], data[-1]
if id[0]=='1' or id[0]=='3':
  print("남자")
elif id[0]=='2' or id[0]=='4':
  print("여자")

주민등록번호:81212-125888
남자

In [ ]:
# 128
num = input("주민등록번호:")
data = num.split('-')
birth, id = data[0], data[-1]
city = int(id[1:3])
if city <= 8 :
  print("서울입니다.")
else:
  print("서울이 아닙니다.")

주민등록번호:812484-1058888
서울입니다.

In [30]:
#129
num = input("주민등록번호:")
val1=int(num[0])*2 + int(num[1])*3 + int(num[2])*4 + int(num[3])*5 + int(num[4])*6 \
+int(num[5])*7 + int(num[7])*8 + int(num[8])*9 + int(num[9])*2 + int(num[10])*3 \
+ int(num[11])*4 + int(num[12])*5
val2 = str(11- (val1 % 11))

if num[-1] == val2[-1]:
  print("유효한 주민등록번호입니다.")
else:
  print("유효하지 않은 주민등록번호입니다.")

주민등록번호:123456-1234567
유효하지 않은 주민등록번호입니다.

In [39]:
# 130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
num1 = int(btc['max_price']) - int(btc['min_price']) # 변동폭
if (int(btc['opening_price']) + num1) > int(btc['max_price']):
  print("상승장")
else :
  print("하락장")

상승장