<a href="https://colab.research.google.com/github/jasonkjw/daily_coding_commit/blob/main/131_150.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
# 132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [ ]:
# 133
for 변수 in ["A","B","C"]:
  print(변수)

A
B
C

In [ ]:
# 134
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

In [ ]:
# 135
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

In [ ]:
# 136
for 변수 in [10,20,30]:
  print(변수)

10
20
30

In [ ]:
# 137
for 변수 in [10,20,30]:
  print(변수)

10
20
30

In [ ]:
# 138
for 변수 in [10,20,30]:
  print("------")

------
------
------

In [ ]:
# 139
print("++++")
for 변수 in [10,20,30]:
  print(변수)

++++
10
20
30

In [ ]:
#140
for i in range(0, 4):
  print("------")

------
------
------
------

In [ ]:
# 141
리스트 = [100, 200, 300]
for i in 리스트:
  print(i+10)

110
210
310

In [ ]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
  print(f"오늘의 메뉴: {i}")

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [ ]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
  print(len(i))

6
4
4

In [ ]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i,len(i))

dog 3
cat 3
parrot 6

In [ ]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i[0])

d
c
p

In [ ]:
# 146
리스트 = [1, 2, 3]
for i in 리스트:
  print(f"3 x {i}")

3 x 1
3 x 2
3 x 3

In [ ]:
# 147
리스트 = [1, 2, 3]
for i in 리스트:
  print(f"3 x {i} =", 3*int(i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
# 148
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
  print(i)

나
다
라

In [ ]:
# 149
리스트 = ["가", "나", "다", "라"]
for i in 리스트[0::2]:
  print(i)

가
다

In [ ]:
# 150
리스트 = ["가", "나", "다", "라"]
for i in 리스트[-1:]:
  print(i)

라