<a href="https://colab.research.google.com/github/jasonkjw/daily_coding_commit/blob/main/171_180.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 171
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
  print(price_list[i])

32100
32150
32000
32500

In [ ]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
  print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [ ]:
# 173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
  print((len(price_list)-1)-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 174
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)-1):
  print(100+i*10, price_list[i])

100 32100
110 32150
120 32000

In [ ]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
  print(my_list[i:i+2])

['가', '나']
['나', '다']
['다', '라']

In [14]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
  print(my_list[i:i+3])

['가', '나', '다']
['나', '다', '라']
['다', '라', '마']

In [43]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1,0,-1):
  print(my_list[i],my_list[i-1])

라 다
다 나
나 가

In [52]:
# 178
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
  print(abs(my_list[i+1]-my_list[i]))

100
200
400

In [58]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
  print(sum(my_list[i:i+3])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [65]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility=[]
for i in range(len(low_prices)):
  vol=abs(low_prices[i]- high_prices[i])
  volatility.append(vol)
  print(volatility)

[50]
[50, 100]
[50, 100, 30]
[50, 100, 30, 80]
[50, 100, 30, 80, 0]