<a href="https://colab.research.google.com/github/jasonkjw/daily_coding_commit/blob/main/181_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 181
apart = [["101호","102호"],["201호","202호"],["301호","302호"]]

In [ ]:
# 182
stock = [["시가",100,200,300],["종가",80,210,330]]

In [ ]:
# 183
stock = {"시가":[100,200,300], "종가":[80,210,330]}

In [ ]:
# 184
stock = {"10/10":[80,110,70,90],"10/11":[210,230,190,200]}

In [ ]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]
# for i in range(0,3):
#   for j in range(0,2):
#     print(apart[i][j],"호")
for row in apart:
  for col in row:
    print(col,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
  for col in row[::-1]:
    print(col,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
  for col in row:
    print(col,"호")
    print("-"*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
  for col in row:
    print(col,"호")
  print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
  for col in row:
    print(col,"호")
print("-"*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [3]:
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
  for col in row:
    print(col*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [4]:
# 192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
  for col in row:
    print(col*1.00014)
  print("-"*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [6]:
# 193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result=[]
for row in data:
  for col in row:
    result.append(col*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [7]:
# 194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result=[]
for row in data:
  sub=[]
  for col in row:
    sub.append(col*1.00014)
  result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [13]:
# 195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for line in ohlc[1:]:
  print(line[-1])

100
190
310