<a href="https://colab.research.google.com/github/jasonkjw/daily_coding_commit/blob/main/181_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 181
apart = [["101호","102호"],["201호","202호"],["301호","302호"]]

In [2]:
# 182
stock = [["시가",100,200,300],["종가",80,210,330]]

In [3]:
# 183
stock = {"시가":[100,200,300], "종가":[80,210,330]}

In [4]:
# 184
stock = {"10/10":[80,110,70,90],"10/11":[210,230,190,200]}

In [21]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]
# for i in range(0,3):
#   for j in range(0,2):
#     print(apart[i][j],"호")
for row in apart:
  for col in row:
    print(col,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [28]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
  for col in row[::-1]:
    print(col,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [35]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
  for col in row:
    print(col,"호")
    print("-"*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [36]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
  for col in row:
    print(col,"호")
  print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [38]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
  for col in row:
    print(col,"호")
print("-"*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----