<a href="https://colab.research.google.com/github/jasonkjw/daily_coding_commit/blob/main/251_290.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 252
class human:
  pass

In [ ]:
# 253
class human:
  pass

areum = human()

In [ ]:
# 254
class human:
  def __init__(self):
    print("응애응애")

areum = human()

응애응애

In [ ]:
# 255
class human:
  def __init__(self, 이름, 나이, 성별):
    self.이름 = 이름
    self.나이 = 나이
    self.성별 = 성별

areum = human("아름",25,"여자")
print(areum.이름)

아름

In [ ]:
# 256
class human:
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

areum = human("조아름",25,"여자")
print(areum.age)

25

In [ ]:
# 257
class human:
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

  def who(self):
    print(f"이름: {self.name}, 나이:{self.age}, 성별:{self.sex}")

areum = human("아름",25,"여자")
areum.who()

이름: 아름, 나이:25, 성별:여자

In [ ]:
# 258
class human:
  def __init__(self, name, age, sex):
    self.name = name
    self.age= age
    self.sex = sex

  def who(self):
    print(f"이름: {self.name}, 나이:{self.age}, 성별:{self.sex}")

  def setinfo(self, name, age, sex):
    self.name = name
    self.age= age
    self.sex = sex

areum = human("불명", 0, "모름")
areum.who()

areum.setinfo("아름",25, "여자")
areum.who()

이름: 불명, 나이:0, 성별:모름
이름: 아름, 나이:25, 성별:여자

In [ ]:
# 259
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def __del__(self):
        print("나의 죽음을 알리지마라")

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
areum.who()
del(areum)

이름: 아름 나이: 25 성별: 여자
나의 죽음을 알리지마라

In [ ]:
# 260
class OMG :
    def print() :
        print("Oh my god")


mystock = OMG()
mystock.print()      # OMG.print(mystock)

TypeError: OMG.print() takes 0 positional arguments but 1 was given

In [ ]:
# 261
class stock:
  pass

In [ ]:
# 262
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [ ]:
#263
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

a = Stock(None, None)
a.set_name("삼성전자")  # Stock.set_name(a, "삼성전자")
print(a.name)

삼성전자

In [ ]:
#264
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code

a = Stock(None, None)
a.set_name("삼성전자")
a.set_code("005930")
print(a.name, a.code)

삼성전자 005930

In [ ]:
# 265 (내가 짠 거)
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code

  def get_name(self, name):
    self.name = name

  def get_code(self, code):
    self.code = code

삼성 = Stock("삼성전자", "005930")
print(삼성.name, 삼성.code)

삼성전자 005930

In [ ]:
# 265 (정답지)
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [ ]:
# 266, 267
class Stock:
  def __init__(self, name, code, PER, PBR, ROE):
    self.name = name
    self.code = code
    self.PER = PER
    self.PBR = PBR
    self.ROE = ROE

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code

  def get_name(self):
    return self.name

  def get_code(self):
    return self.code

삼성 = Stock("삼성전자","005930", 15.79, 1.33, 2.83)
print(삼성.ROE)

2.83

In [ ]:
# 268, 269
class Stock:
  def __init__(self, name, code, PER, PBR, ROE):
    self.name = name
    self.code = code
    self.PER = PER
    self.PBR = PBR
    self.REO = ROE

  def set_name(self, name):
    self.name = name

  def set_code(self,code):
    self.code = code

  def set_PER(self, PER):
    self.PER = PER

  def set_PBR(self, PBR):
    self.PBR = PBR

  def set_ROE(self, ROE):
    self.ROE = ROE

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
삼성.set_PER(12.75)
print(삼성.PER)

12.75

In [ ]:
#270
class Stock:
  def __init__(self, name, code, PER, PBR, ROE):
    self.name = name
    self.code = code
    self.PER =PER
    self.PBR = PBR
    self.ROE = ROE

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code

  def set_PER(self, PER):
    self.PER = PER

  def set_PBR(self, PBR):
    self.PBR = PBR

  def set_ROE(self, ROE):
    self.ROE = ROE

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현차 = Stock("현대차","005380", 8.70, 0.35, 4.27)
LG = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

종목 = []

종목.append(삼성)
종목.append(현차)
종목.append(LG)

for i in 종목:
  print(i.name, i.code, i.PER)

삼성전자 005930 15.79
현대차 005380 8.7
LG전자 066570 317.34

In [ ]:
# 271 ~ 280
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def withdraw_history(self):
      for amount in self.deposit_log:
        print(amount)

    def desposit_history(self):
      for amount in self.deposit_log:
        print(amount)

data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)
data.append(k)
data.append(l)
data.append(p)

for c in data:
    if c.balance >= 1000000:
        c.display_info()

은행이름:  SC은행
예금주:  KIM
계좌번호:  706-35-597540
잔고:  10000000

In [ ]:
# 281
class 차:
  def __init__(self, 바퀴, 가격):
    self.바퀴 = 바퀴
    self.가격 = 가격

car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

2
1000

In [ ]:
# 282, 283, 284
class 자전차(차):
  def __init__(self, 바퀴, 가격, 구동계):
    super().__init__(바퀴, 가격)
    self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
print(bicycle.구동계)

시마노

In [ ]:
# 285
class 차:
  def __init__(self, 바퀴, 가격):
    self.바퀴 = 바퀴
    self.가격 = 가격

  def 정보(self):
    print(f"바퀴수 {self.바퀴}")
    print(f"가격 {self.가격}")

class 자동차(차):
  def __init__(self, 바퀴, 가격):
    super().__init__(바퀴, 가격)

car = 자동차(4, 1000)
car.정보()

바퀴수 4
가격 1000

In [ ]:
# 286, 287
class 자전차(차):
  def __init__(self, 바퀴, 가격, 구동계):
    super().__init__(바퀴, 가격)
    self.구동계 = 구동계

  def 정보(self):
    super().정보()
    print("구동계", self.구동계)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

In [ ]:
# 288
class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")

나 = 자식()
나.호출()

엄마 = 부모()
엄마.호출()

자식호출
부모호출

In [ ]:
# 289
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")

나 = 자식()

자식생성

In [ ]:
#290
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    super().__init__()

나 = 자식()

자식생성
부모생성