<a href="https://colab.research.google.com/github/jasonkjw/daily_coding_commit/blob/main/291_300.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# 291
f = open("매수종목1.txt", 'w')
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [11]:
# 292
with open("매수종목2.txt",'w', encoding="utf-8") as f:
  f.write("005930 삼성전자\n")
  f.write("005380 현대차\n")
  f.write("035420 NAVER\n")

In [3]:
# 293
import csv
with open("매수종목.csv",'w',encoding = "utf-8-sig", newline='') as f:
  writer = csv.writer(f)
  writer.writerow(["종목명", "종목코드", "PER"])
  writer.writerow(["삼성전자", "005930", 15.59])
  writer.writerow(["NAVER", "035420", 55.82])

In [9]:
# 294
with open("매수종목1.txt",'r', encoding="utf-8") as f:
  lines = f.readlines()

codes = []
for line in lines:
  code = line.strip()
  codes.append(code)

print(codes)

['005930', '005380', '035420']

In [15]:
# 295
with open("매수종목2.txt", encoding="utf-8") as f:
  line = f.readlines()

data = {}
for line in lines:
  line = line.strip()
  k, v = line.split()
  print(k,v)
  data[k] = v

print(data)

005930 삼성전자
005380 현대차
035420 NAVER
{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}