<a href="https://colab.research.google.com/github/jasonkjw/daily_coding_commit/blob/main/291_300.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 291
f = open("매수종목1.txt", 'w')
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [ ]:
# 292
with open("매수종목2.txt",'w', encoding="utf-8") as f:
  f.write("005930 삼성전자\n")
  f.write("005380 현대차\n")
  f.write("035420 NAVER\n")

In [ ]:
# 293
import csv
with open("매수종목.csv",'w',encoding = "utf-8-sig", newline='') as f:
  writer = csv.writer(f)
  writer.writerow(["종목명", "종목코드", "PER"])
  writer.writerow(["삼성전자", "005930", 15.59])
  writer.writerow(["NAVER", "035420", 55.82])

In [ ]:
# 294
with open("매수종목1.txt",'r', encoding="utf-8") as f:
  lines = f.readlines()

codes = []
for line in lines:
  code = line.strip()
  codes.append(code)

print(codes)

['005930', '005380', '035420']

In [ ]:
# 295
with open("매수종목2.txt", encoding="utf-8") as f:
  line = f.readlines()

data = {}
for line in lines:
  line = line.strip()
  k, v = line.split()
  print(k,v)
  data[k] = v

print(data)

005930 삼성전자
005380 현대차
035420 NAVER
{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [1]:
# 296
per = ["10.31", "", "8.00"]

for i in per:
    try:
      print(float(i))
    except:
      print(0)

10.31
0
8.0

In [13]:
# 297
per = ["10.31", "", "8.00"]
list = []

for i in per:
    try:
      a =float(i)
    except:
      a= 0
    list.append(a)
print(list)

[10.31, 0, 8.0]

In [16]:
# 298
list = [1,2,0,4,6,0,6,7,3]

for i in list:
  try:
    v = 10 / i
    print(v)
  except ZeroDivisionError:
    print("0으로 나눌 수 없음")

10.0
5.0
0으로 나눌 수 없음
2.5
1.6666666666666667
0으로 나눌 수 없음
1.6666666666666667
1.4285714285714286
3.3333333333333335

In [17]:
# 299
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [24]:
# 300
per = ["10.31", "", "8.00"]

for i in per:

    try:
      v = float(i)
      print(f"try결과 입니다.{v}")
    except:
      v = 0
      print(f"except 결과 입니다. {v}")
    else:
      v = float(i)
      print(f"else 결과 입니다. {v}")
    finally:
      print(f"finally {i}에 대한 결과 입니다")

try결과 입니다.10.31
else 결과 입니다. 10.31
finally 10.31에 대한 결과 입니다
except 결과 입니다. 0
finally 에 대한 결과 입니다
try결과 입니다.8.0
else 결과 입니다. 8.0
finally 8.00에 대한 결과 입니다