<a href="https://colab.research.google.com/github/jasonkjw/daily_coding_commit/blob/main/naco11_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import theater_module

theater_module.price(3)
theater_module.price_morning(4)
theater_module.price_soldier(5)

3명, 영화표 가격은 30000원입니다.
4명, 조조 할인 영화표 가격은 24000원입니다.
5명, 군인 할인 영화표 가격은 20000원입니다.

In [7]:
from theater_module import *

price(3)
price_morning(4)
price_soldier(5)

3명, 영화표 가격은 30000원입니다.
4명, 조조 할인 영화표 가격은 24000원입니다.
5명, 군인 할인 영화표 가격은 20000원입니다.

In [9]:
from theater_module import price, price_morning
price(5)
price_morning(6)

5명, 영화표 가격은 50000원입니다.
6명, 조조 할인 영화표 가격은 36000원입니다.

In [11]:
from theater_module import price_soldier as price
price_soldier(3)

3명, 군인 할인 영화표 가격은 12000원입니다.